<h1>Edit agency</h1>
<form [formGroup]="agencyForm">
  <fieldset>
    <legend>{{agency.name}}</legend>
    <label for="name">Agency name:
      <input type="text" id="name" formControlName="name">
    </label>
    <br>
    <label for="address">Address:
      <input type="text" id="address" formControlName="address">
    </label>
    <br>
    <label for="founded_year">Founded year:
      <input type="number" id="founded_year" formControlName="founded_year">
    </label>
    <br>
    <label for="phone_number">Phone number:
      <input type="text" id="phone_number" formControlName="phone_number">
    </label>
    <br>
    <label for="email">Email:
      <input type="text" id="email" formControlName="email">
    </label>
    <br>
    <input name="update" type="submit" (click)="updateAgency()" value="Update">
    <input name="delete" type="submit" (click)="deleteAgency()" value="Delete">
  </fieldset>
</form>
