* {
  font-family: Inter, sans-serif;
  font-weight: 200;
  padding: 0;
  text-align: center;
  --primary: #ffffff;
  --secondary: rgba(0, 0, 0, 0.82);
  color: var(--secondary);
}

header {
  text-align: center;
  background: var(--secondary);
}

header > h1 {
  font-family: Argentum B, sans-serif;
  font-weight: 500;
  color: var(--primary);
  font-size: 3rem;
  text-transform: uppercase;
}

nav a {
  color: var(--primary);
  border: solid 2px var(--primary);
  border-radius: 10%;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  margin: 15px;
}

nav a:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

body {
  padding: 2vmin;
  background-color: var(--primary);
  min-height: 100vh;
  color: var(--secondary);
}

footer {
  background: var(--secondary);
  padding: 20px;
  font-size: 20px;
}

footer > p, footer a {
  color: var(--primary);
}

.form-container {
  height: fit-content;
  max-height: 80%;
  overflow: scroll;
  position: absolute;
  display: none;
  background: var(--primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid var(--secondary);
  z-index: 9;
}

.form-container > form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  gap: 2vmin;
}

.form-container button {
  width: 100%;
  color: var(--primary);
  font-size: 1.2rem;
  padding: 10px;
  background: var(--secondary);
}

.login {
  background-color: var(--primary);
  padding: 15px;
  border: none;
  width: fit-content;
  margin-bottom:10px;
  opacity: 0.8;
}

.blur {
  filter: blur(6px);
  -webkit-filter: blur(6px);
}
