header {
  text-align: center;
  background: var(--secondary);
}

header > h1 {
  padding: 0.5rem;
  font-family: Argentum B, sans-serif;
  font-weight: 500;
  color: var(--primary);
  font-size: 3rem;
  text-transform: uppercase;
}

nav a {
  color: var(--primary);
  border: solid 2px var(--primary);
  border-radius: 10%;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1.2rem;
}

nav a:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

body {
  padding: 2vmin;
  background-color: var(--primary);
  min-height: 100vh;
  color: var(--secondary);
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: var(--secondary);
  padding: 1rem;
  font-size: 1.2rem;
}

footer > p, footer a {
  color: var(--primary);
}

.form-container {
  height: fit-content;
  max-height: 80%;
  padding: 2%;
  overflow: scroll;
  position: absolute;
  display: none;
  background: var(--primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid var(--secondary);
  z-index: 9;
}

.form-container > form {
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  gap: 2vmin;
}

.form-container button {
  width: auto;
  color: var(--primary);
  font-size: 1.2rem;
  padding: 0.8rem;
  background: var(--secondary);
}

.lower_opacity {
  opacity: 0.8;
}

.blur {
  filter: blur(6px);
  -webkit-filter: blur(6px);
}
