<header>
  <h1>MRMI TRAVEL</h1>
  <nav>
    <a routerLink="home" routerLinkActive="activeNavLink">Home</a>
    <a *ngIf="loggedIn" routerLink="users" routerLinkActive="activeNavLink">User page</a>
    <a *ngIf="!loggedIn" routerLink="register" routerLinkActive="activeNavLink">Register</a>
    <a *ngIf="!loggedIn" routerLink="login" routerLinkActive="activeNavLink">Login</a>
    <input style="color:black" *ngIf="loggedIn" name="logout" type="button" (click)="logout()" value="Logout">
  </nav>
</header>

<body>
  <router-outlet></router-outlet>
</body>

<footer>
  <p>@Copyright - Mrmi 2023</p>
</footer>
