<p class="card-title">Add destination</p>

<form class="flex-container" style="" [formGroup]="destinationForm">
  <div class="card">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
    <p class="validation-warning" *ngIf="destinationForm.get('name')?.invalid">The name is required</p>
  </div>

  <div class="card">
    <label for="type-val" class="svg-before" id="type">Vacation type</label>
    <select (change)="setIcons()" id="type-val" name="type" formControlName="type">
      <option selected disabled>Select the destination type</option>
      <option value="summer">Summer</option>
      <option value="winter">Winter</option>
      <option value="europeanCities">European cities</option>
    </select>
    <p class="validation-warning" *ngIf="destinationForm.get('type')?.invalid">The vacation type is required</p>
  </div>

  <div class="card">
    <label for="transport-val" class="svg-before" id="transport">Transportation type</label>
    <select (change)="setIcons()" id="transport-val" name="transport" formControlName="transport">
      <option selected disabled>Select a transportation type</option>
      <option value="airplane">Airplane</option>
      <option value="bus">Bus</option>
      <option value="personal">Your personal transport</option>
    </select>
    <p class="validation-warning" *ngIf="destinationForm.get('transport')?.invalid">The transport type is required</p>
  </div>

  <div class="break"></div>

  <div class="card">
    <label for="price-val" class="svg-before" id="price">Price</label>
    <input type="number" id ="price-val" formControlName="price">
    <p class="validation-warning" *ngIf="destinationForm.get('price')?.invalid">Invalid price</p>
  </div>

  <div class="card">
    <label for="capacity-val" class="svg-before" id="capacity">Total traveller capacity</label>
    <input type="number" id="capacity-val" formControlName="capacity">
    <p class="validation-warning" *ngIf="destinationForm.get('capacity')?.invalid">Invalid capacity</p>
  </div>

  <div class="break"></div>

  <div class="card">
    <label for="description">Description</label>
    <textarea id="description" formControlName="description" cols="40" rows="10"></textarea>
    <p class="validation-warning" *ngIf="destinationForm.get('description')?.invalid">The description is required</p>
  </div>

  <div class="break"></div>
</form>
<input type="submit" (click)="addDestination()" value="Add">
