<input type="text" name="agencyNameSearch" placeholder="Search by agency name" [(ngModel)]="agencyNameSearchText"
(input)="searchAgencies(agencyNameSearchText)">
<input type="text" name="destinationNameSearch" placeholder="Search by destination name" [(ngModel)]="destinationNameSearchText"
       (input)="searchDestinations(destinationNameSearchText)">
<div class="card" *ngFor="let agency of filtered_agencies | agencySearchFilter: agencyNameSearchText : destinationNameSearchText">
  <div class="container">
    <p>Name: {{agency.name}}</p>
    <p>Address: {{agency.address}}</p>
    <p>Founded: {{agency.foundingYear}}</p>
    <p>Phone number: {{agency.phoneNumber}}</p>
    <p>Email: {{agency.email}}</p>
    <button (click)="viewDestinations(agency)">View destinations</button>
    <button *ngIf="isAdmin()" (click)="editAgency(agency)">Edit agency</button>
  </div>
</div>
