<div class="flex-container">
  <div class="card">
    <label for="agencyNameSearch">Agency:</label>
    <input id ="agencyNameSearch" type="text" name="agencyNameSearch" placeholder="Search by agency name" [(ngModel)]="agencyNameSearchText"
           (input)="searchAgencies(agencyNameSearchText)">
  </div>
  <div class="card">
    <label for="destinationNameSearch">Destination:</label>
    <input id="destinationNameSearch" type="text" name="destinationNameSearch" placeholder="Search by destination name" [(ngModel)]="destinationNameSearchText"
           (input)="searchDestinations(destinationNameSearchText)">
  </div>
</div>
<div class="flex-container">
  <div class="card" *ngFor="let agency of filteredAgencies | agencySearchFilter: agencyNameSearchText : destinationNameSearchText | keyvalue">
    <div (click)="viewDestinations(agency.key)">
      <p class="card_title">{{agency.value.name}}</p>
      <img ngSrc="{{agency.value.logo}}" width="200" height="200" alt="Agency image">
      <p>{{agency.value.address}}</p>
      <p>Contact: {{agency.value.phoneNumber}} </p>
      <p>{{agency.value.email}}</p>
      <p>Founded in {{agency.value.foundingYear}}</p>
    </div>
    <button *ngIf="isAdmin()" (click)="editAgency(agency.key)">Edit agency</button>
  </div>
</div>
